---
import Layout from '../layouts/Layout.astro';
//import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';
---

<Layout 
	title="Welcome to xdual" 
	description="This is the description for the xdual website.">

	<main>
		<Nav/>
	</main>
</Layout>
