---
import Layout from '../layouts/Layout.astro';
//import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';

//color no renovable #f12711 -> #f5af19
//color electicidad 
---

<Layout title="Welcome to Astro.">
	<main>
		<Nav/>
	</main>
</Layout>
