<div class="relative max-w-7xl mx-auto pt-10">
    <div class="md:grid mt-5">
        <div class="relative ml-3">
            <div
                class="flex items-center px-4 pt-4 text-left sm:px-6 sm:rounded-tl-md sm:rounded-tr-md border-t border-l border-r border-gray-300"
            >
                <h1 class="text-xl font-semibold">Compute Region</h1><p
                    class="text-gray-300 text-normal ml-5"
                >
                    Choose the region where you want to deploy your dedicated
                    server, this will determine the physical location of it
                </p>
            </div><form>
                <div
                    class="bg-black sm:p-6 border-gray-300 border-b border-l border-r sm:rounded-b-md"
                >
                    <div class="grid gap-6">
                        <div class="grid lg:grid-cols-3 sm:lg:grid-cols-1 gap-4">
                            <div class="relative">
                                <input
                                    class="peer hidden"
                                    id="location_0"
                                    type="radio"
                                    name="location"
                                    value="1"
                                /><label
                                    for="location_0"
                                    class="rounded-md peer-checked:border-solid peer-checked:border-gray-400 flex cursor-pointer select-none border-2 p-3"
                                    ><img
                                        width="48"
                                        height="20"
                                        src="https://imgs.search.brave.com/tWLQzse7U4awzE_q1gzyZzsIxYVPu4KIYrHoJ1iedvc/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi9mL2ZmL0Jh/bmRlcmFfZGVfRXNw/YSVDMyVCMWFfJTI4/c2luX2VzY3VkbyUy/OS5zdmcvNjQwcHgt/QmFuZGVyYV9kZV9F/c3BhJUMzJUIxYV8l/MjhzaW5fZXNjdWRv/JTI5LnN2Zy5wbmc"
                                        alt="Flag"
                                    /><div class="ml-5">
                                        <span class="font-normal"
                                            >Madrid, Spain<br /><span
                                                class="font-thin text-xs font-bold text-red-600"
                                                >Soon</span
                                            ></span
                                        >
                                    </div></label
                                >
                            </div><div class="relative">
                                <input
                                    class="peer hidden"
                                    id="location_1"
                                    type="radio"
                                    name="location"
                                    value="2"
                                /><label
                                    for="location_1"
                                    class="rounded-md peer-checked:border-solid peer-checked:border-gray-400 flex cursor-pointer select-none border-2 p-3"
                                    ><img
                                        height="32"
                                        src="https://img.icons8.com/color/48/usa.png"
                                        alt="Flag"
                                    /><div class="ml-5">
                                        <span class="font-normal"
                                            >Miami, FL<br /><span
                                                class="font-thin text-xs text-red-600"
                                                >Soon</span
                                            ></span
                                        >
                                    </div></label
                                >
                            </div><div class="relative">
                                <input
                                    class="peer hidden"
                                    id="location_2"
                                    type="radio"
                                    name="location"
                                    value="4"
                                /><label
                                    for="location_2"
                                    class="rounded-md peer-checked:border-solid peer-checked:border-gray-400 flex cursor-pointer select-none border-2 p-3"
                                    ><img
                                        width="48"
                                        height="32"
                                        src="https://img.icons8.com/color/48/germany.png"
                                        alt="Flag"
                                    /><div class="ml-5">
                                        <span class="font-normal"
                                            >Frankfurt, DE<br /><span
                                                class="font-thin text-xs text-green-600"
                                                >Available Plans</span
                                            ></span
                                        >
                                    </div></label
                                >
                            </div>
                            <div class="relative">
                                <input
                                    class="peer hidden"
                                    id="location_2"
                                    type="radio"
                                    name="location"
                                    value="4"
                                /><label
                                    for="location_2"
                                    class="rounded-md peer-checked:border-solid peer-checked:border-gray-400 flex cursor-pointer select-none border-2 p-3"
                                    ><img
                                        width="48"
                                        height="32"
                                        src="https://imgs.search.brave.com/rEut1ca44Qds2bcrjpMVRikvcRWZWllwQSjAnQCmRNo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/YnJpdGFubmljYS5j/b20vODIvMjk4Mi0w/MDQtODRBMkE3MUUv/ZmxhZy1wcm90b3R5/cGUtTmV0aGVybGFu/ZHMtY291bnRyaWVz/LUV1cm9wZWFuLWZs/YWdzLmpwZw"
                                        alt="Flag"
                                    /><div class="ml-5">
                                        <span class="font-normal"
                                            >Netherlands<br /><span
                                                class="font-thin text-xs text-green-600"
                                                >Available Plans</span
                                            ></span
                                        >
                                    </div></label
                                >
                            </div>
                        </div>
                    </div>
                </div><div class="mt-1 float-right space-x-2"></div>
            </form>
        </div>
    </div>

    <div class="md:grid mt-5">
        <div class="relative ml-3">
            <div
                class="flex items-center px-4 pt-4 text-left sm:px-6 sm:rounded-tl-md sm:rounded-tr-md border-t border-l border-r border-gray-300"
            >
                <h1 class="text-xl font-semibold">Instance Plans</h1><p
                    class="text-gray-300 text-normal ml-5"
                >
                    Choose the desired plan and pricing for your dedicated servers
                </p>
            </div><form>
                <div
                    class="bg-black sm:p-6 border-gray-100 border-b border-l border-r sm:rounded-b-md"
                >
                    <div class="grid gap-6">
                        <div
                            class="overflow-hidden ring-2 ring-gray-200 rounded-md overflow-x-auto"
                        >
                            <table class="w-full divide-y divide-gray-300">
                                <thead class="text-xs text-gray-700 bg-gray-50"
                                    ><tr
                                        ><th
                                            scope="col"
                                            class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                                            >Name</th
                                        ><th
                                            scope="col"
                                            class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                                            >CPU</th
                                        ><th
                                            scope="col"
                                            class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                                            >Memory</th
                                        ><th
                                            scope="col"
                                            class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                                            >Storage</th
                                        ><th
                                            scope="col"
                                            class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                                            >Bandwidth</th
                                        ><th
                                            scope="col"
                                            class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                                            >Deployment Time</th
                                        ><th
                                            scope="col"
                                            class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                                            >Price</th
                                        ><th
                                            scope="col"
                                            class="relative py-2 pl-3 pr-4 sm:pr-6"
                                            ><span class="sr-only">Purchase</span
                                            ></th
                                        ></tr
                                    ></thead
                                ><tbody class="divide-y divide-gray-100 bg-black"
                                    ><tr
                                        ><td
                                            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                🇩🇪 i9 9900K
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                I9 9900K (8c/16t)
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                128GB DDR4 ECC
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                2 x 1TB NVMe SSD
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                Unmetered Bandwidth (1 Gbps)
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="text-green-600">
                                                48 Hours
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                $90/month
                                            </div></td
                                        ><td
                                            class="relative pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                                            ><a
                                                class="text-blue-600 hover:text-blue-900"
                                                href="https://my.xdual.es/checkout/config/11"
                                                >Purchase</a
                                            ></td
                                        ></tr
                                    ><tr
                                        ><td
                                            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                🇳🇱 NL-1
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                E5-2699v4 (22c/44t)
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                1TB DDR4 ECC
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                8TB NVMe SSD
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                Unmetered Bandwidth (20 Gbps)
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="text-amber-600">
                                                2 weeks
                                            </div></td
                                        ><td
                                            class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-600 sm:pl-6"
                                            ><div class="font-normal text-gray-300">
                                                $400/month
                                            </div></td
                                        ><td
                                            class="relative pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                                            ><a
                                                class="text-blue-600 hover:text-blue-900"
                                                href="https://my.xdual.es/tickets/create"
                                                >Purchase</a
                                            ></td
                                        ></tr
                                    >
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div><div class="mt-1 float-right space-x-2"></div>
            </form>
        </div>
    </div>
</div>