<footer>
    <h2 id="footer-heading" class="sr-only">Footer</h2><div
        class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32"
    >
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="space-y-8">
                <a
                    href="/"
                    class="flex items-center space-x-3 rtl:space-x-reverse"
                    ><img src="logo.avif" class="h-14" alt="Xdual logo" loading="lazy"/><span
                        class="self-center text-2xl font-semibold whitespace-nowrap font-bukhari-script text-white"
                        >Xdual</span
                    ></a
                ><p class="text-sm leading-6 text-gray-300">
                    High-performance cloud hosting for an affordable price,
                    featuring lightning fast processors.
                </p>
                <div class="flex space-x-6"></div>
            </div><div
                class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0"
            >
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <h3 class="text-sm font-semibold leading-6 text-white">
                            Solutions
                        </h3><ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    href="https://my.xdual.es/vps"
                                    >Vps Servers</a
                                >
                            </li><li>
                                <a
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    href="https://my.xdual.es/dedicated-server"
                                    >Dedicated Servers</a
                                >
                            </li>
                        </ul>
                    </div><div class="mt-10 md:mt-0">
                        <h3 class="text-sm font-semibold leading-6 text-white">
                            Support
                        </h3><ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a
                                    href="https://my.xdual.es/tickets/create"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Contact</a
                                >
                            </li><li>
                                <a
                                    href="https://docs.xdual.es"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Docs</a
                                >
                            </li><li>
                                <a
                                    href="https://status.xdual.es"
                                    target="_blank"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Service Status</a
                                >
                            </li>
                        </ul>
                    </div>
                </div><div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <h3 class="text-sm font-semibold leading-6 text-white">
                            Services
                        </h3><ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a
                                    href="https://my.xdual.es"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Client Area</a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://vps.xdual.es"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >VPS Panel</a
                                >
                            </li>
                        </ul>
                    </div><div class="mt-10 md:mt-0">
                        <h3 class="text-sm font-semibold leading-6 text-white">
                            Legal
                        </h3><ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a
                                    href="https://my.xdual.es/tos"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Terms</a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://docs.xdual.es/policies/refund"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Refund</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><div
            class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24"
        >
            <p class="text-xs leading-5 text-gray-400">
                © 2024 Xcompany.es, All rights reserved.
            </p>
        </div>
    </div>
</footer>
