<body class="bg-gray-900 text-white">
    <footer>
        <h2 id="footer-heading" class="sr-only">Footer</h2>
        <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32 relative">
            <div class="xl:grid xl:grid-cols-3 xl:gap-8 relative">
                <div class="space-y-8 relative z-10">
                    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                        <img src="logo.avif" class="h-14" alt="Xdual logo" loading="lazy"/>
                        <span class="self-center text-2xl font-semibold whitespace-nowrap font-bukhari-script text-white">Xdual</span>
                    </a>
                    <p class="text-sm leading-6 text-gray-300">
                        <strong>High-performance cloud hosting for an affordable price</strong>, featuring lightning fast processors.
                    </p>
                    <div class="flex space-x-6"></div>
                </div>
                <div class="absolute inset-x-0 -top-20 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-40" aria-hidden="true">
                    <div class="relative left-[calc(50%-11rem)] aspect-[1155/878] w-[18.0625rem] -translate-x-1/4 rotate-[10deg] bg-gradient-to-tr from-[#FFA500] to-[#FF4500] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[36.09375rem]"
                        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);">
                    </div>
                </div>
                <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                    <div class="md:grid md:grid-cols-2 md:gap-8">
                        <div>
                            <h3 class="text-sm font-semibold leading-6 underline underline-offset-4 text-white custom-underline">
                                Solutions
                            </h3>
                            <ul role="list" class="mt-6 space-y-4">
                                <li>
                                    <a class="text-sm leading-6 text-gray-300 hover:text-white" href="/vps">Vps Servers</a>
                                </li>
                                <li>
                                    <a class="text-sm leading-6 text-gray-300 hover:text-white" href="https://xdual.es/dedicated">Dedicated Servers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-10 md:mt-0">
                            <h3 class="text-sm font-semibold leading-6 text-white underline underline-offset-4 custom-underline">
                                Support
                            </h3>
                            <ul role="list" class="mt-6 space-y-4">
                                <li>
                                    <a href="https://my.xdual.es/tickets/create" class="text-sm leading-6 text-gray-300 hover:text-white">Contact</a>
                                </li>
                                <li>
                                    <a href="https://docs.xdual.es" class="text-sm leading-6 text-gray-300 hover:text-white">Docs</a>
                                </li>
                                <li>
                                    <a href="https://status.xdual.es" target="_blank" class="text-sm leading-6 text-gray-300 hover:text-white">Service Status</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="md:grid md:grid-cols-2 md:gap-8">
                        <div>
                            <h3 class="text-sm font-semibold leading-6 text-white underline underline-offset-4 custom-underline">
                                Services
                            </h3>
                            <ul role="list" class="mt-6 space-y-4">
                                <li>
                                    <a href="https://my.xdual.es" class="text-sm leading-6 text-gray-300 hover:text-white">Client Area</a>
                                </li>
                                <li>
                                    <a href="https://vps.xdual.es" class="text-sm leading-6 text-gray-300 hover:text-white">VPS Panel</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-10 md:mt-0">
                            <h3 class="text-sm font-semibold leading-6 text-white underline underline-offset-4 custom-underline">
                                Legal
                            </h3>
                            <ul role="list" class="mt-6 space-y-4">
                                <li>
                                    <a href="https://my.xdual.es/tos" class="text-sm leading-6 text-gray-300 hover:text-white">Terms</a>
                                </li>
                                <li>
                                    <a href="https://my.xdual.es/tos" class="text-sm leading-6 text-gray-300 hover:text-white">Refund</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
                <p class="text-xs leading-5 text-gray-400">© 2024 Xcompany.es, All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>

<style>
    .custom-underline {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
        text-decoration-color: #FF4500;
    }
</style>