<body class="bg-black-900 text-white">
    <div class="relative py-12 isolate">
        <div
            class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
            aria-hidden="true"
        >
            <div
                class="relative left-[calc(50%-11rem)] aspect-[1155/878] w-[36.125rem] -translate-x-1/4 rotate-[10deg] bg-gradient-to-tr from-[#FFA500] to-[#FF4500] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"
            >
            </div>
        </div>
        <div class="relative max-w-7xl mx-auto px-6 sm:px-12 lg:px-24 pt-20">
            <div class="overflow-hidden sm:rounded-lg">
                <div class="mt-20 mx-auto mb-20 text-center">
                    <h1 class="mb-4 font-bold text-6xl text-transparent bg-clip-text bg-gradient-to-r from-[#FFA500] to-yellow-[#ffb833]">
                        Secure, fast and reliable
                    </h1>
                    <p class="font-normal text-gray-300 text-2xl mt-6">
                        We offer a variety of KVM and dedicated server solutions to meet your unique needs. <br> Whether it's an entry-level server or a high-end enterprise solution, we offer reliable hardware and attentive customer service.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>