<div class="relative py-12 isolate">
    <div
        class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true"
    >
        <div
            class="relative left-[calc(50%-11rem)] aspect-[1155/878] w-[36.125rem] -translate-x-1/4 rotate-[10deg] bg-gradient-to-tr from-[#8086ff] to-[#8b89fc] opacity-15 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"
        >
        </div>
    </div><div class="relative max-w-7xl mx-auto px-3 pt-20">
        <div class="overflow-hidden sm:rounded-lg">
            <div class="mt-20 mx-auto mb-20">
                <h1 class="mb-4 font-bold text-6xl">
                    <span class="text-white"> High Performance Servers </span>
                </h1><p class="font-normal text-white text-2xl mt-6">
                    We're an affordable hosting provider<br
                    /> We offer reliable and quality hosting solutions located across
                    4 global locations.
                </p><ul class="list-disc text-white list-inside mt-5">
                    <li>Owned hardware across all cloud server regions</li><li>
                        Enterprise hardware with great support
                    </li><li>
                        Global availability of servers
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
