<div class="relative max-w-7xl mx-auto px-3 pt-10 mb-20">
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2">
            <img
                class="m-1 rounded-lg border-gray-200 border mt-5"
                src="https://fro-images.b-cdn.net/chrome_IoduAyo89V.png"
                alt="VPS Panel"
            />
        </div><div class="w-full lg:w-5/12 ml-auto">
            <p class="text-2xl pt-4 pb-3 font-semibold">
                Easy-to-use Control Panel
            </p><p class="text-gray-300">
                Manage every aspect of your virtual server through our modern
                and easy-to-use control panel.
            </p><ul class="mt-4">
                <li class="flex items-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="white"
                        aria-hidden="true"
                        data-slot="icon"
                        class="h-6 w-5 flex-none text-black"
                        ><path
                            fill-rule="evenodd"
                            d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                            clip-rule="evenodd"></path></svg
                    ><span
                        class="text-base font-normal leading-tight text-gray-400 ms-3"
                        >Power Actions</span>
                </li><li class="flex items-center mt-1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="white"
                        aria-hidden="true"
                        data-slot="icon"
                        class="h-6 w-5 flex-none text-black"
                        ><path
                            fill-rule="evenodd"
                            d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                            clip-rule="evenodd"></path></svg
                    ><span
                        class="text-base font-normal leading-tight text-gray-400 ms-3"
                        >Automatic Reinstallation</span>
                </li><li class="flex items-center mt-1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="white"
                        aria-hidden="true"
                        data-slot="icon"
                        class="h-6 w-5 flex-none text-black"
                        ><path
                            fill-rule="evenodd"
                            d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                            clip-rule="evenodd"></path></svg
                    ><span
                        class="text-base font-normal leading-tight text-gray-400 ms-3"
                        >noVNC Console</span>
                </li><li class="flex items-center mt-1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="white"
                        aria-hidden="true"
                        data-slot="icon"
                        class="h-6 w-5 flex-none text-black"
                        ><path
                            fill-rule="evenodd"
                            d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                            clip-rule="evenodd"></path></svg
                    ><span
                        class="text-base font-normal leading-tight text-gray-400 ms-3"
                        >Resource Monitoring</span>
                </li><li class="flex items-center mt-1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="white"
                        aria-hidden="true"
                        data-slot="icon"
                        class="h-6 w-5 flex-none text-black"
                        ><path
                            fill-rule="evenodd"
                            d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                            clip-rule="evenodd"></path></svg
                    ><span
                        class="text-base font-normal leading-tight text-gray-400 ms-3"
                        >Password Adjustment</span>
                </li>
                <li class="flex items-center mt-1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="white"
                        aria-hidden="true"
                        data-slot="icon"
                        class="h-6 w-5 flex-none text-black"
                        ><path
                            fill-rule="evenodd"
                            d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                            clip-rule="evenodd"></path></svg
                    ><span
                        class="text-base font-normal leading-tight text-gray-400 ms-3"
                        >Quick, modern UI</span>
                </li>
                <li class="flex items-center mt-1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="white"
                        aria-hidden="true"
                        data-slot="icon"
                        class="h-6 w-5 flex-none text-black"
                        ><path
                            fill-rule="evenodd"
                            d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                            clip-rule="evenodd"></path></svg
                    ><span
                        class="text-base font-normal leading-tight text-gray-400 ms-3"
                        >A lot of OS</span>
                </li>
            </ul><p class="mt-6 text-gray-200">
                Need more information? Read our documentation <a
                    href="https://docs.xdual.es/vps-cp"
                    target="_blank"
                    class="text-blue-600">here</a
                >.
            </p>
        </div>
    </div>
</div>
