<div class="relative max-w-7xl mx-auto px-3 pt-10">
    <div class="overflow-hidden sm:rounded-lg">
        <div class="mt-5 mx-auto">
            <h1 class="mb-4 font-bold text-3xl">
                <span class="text-black"> Our Products </span><div
                    class="grid md:grid-cols-3 sm:grid-cols-1 gap-4"
                >
                    <div
                        class="w-full max-w-sm p-4 border rounded-lg shadow sm:p-8 mt-5"
                    >
                        <h5 class="mb-1 text-xl font-medium">
                            VPS Netherlands 🇳🇱  
                         </h5><h5 class="mb-1 text-sm font-thin text-gray-100">
                            Starting at
                        </h5><div class="flex items-baseline text-gray-100">
                            <span class="text-3xl font-semibold">€</span><span
                                class="text-5xl font-extrabold tracking-tight"
                                >2</span
                            ><span
                                class="ms-1 text-xl font-normal text-gray-400"
                                >/month</span>
                        </div><ul role="list" class="md:space-y-2 my-4">
                            <li class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Intel Xeon Processors</span>
                            </li><li class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >NVMe SSD Storage</span>
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Enterprise Gen4 NVMe</span>
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >ECC DDR4 Registered Memory</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Full Root Access</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >KVM &amp; Nested Virtualization</span>
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Path.net & Cosmic antiDDoS Protection</span>
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >20 Gbps Network Connection</span>
                            </li>
                        </ul><a
                            type="button"
                            class="text-black bg-white hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
                            href="/vps-nl">Learn More</a>
                    </div>
                    <div
                    class="w-full max-w-sm p-4 border border-[#FFA500] rounded-lg shadow sm:p-8 mt-1"

                    >
                        <h5 class="mb-1 text-xl font-medium">
                            VPS Germany 🇩🇪
                        </h5><h5 class="mb-1 text-sm font-thin text-gray-100">
                            Starting at
                        </h5><div class="flex items-baseline text-gray-100">
                            <span class="text-3xl font-semibold">€</span><span
                                class="text-5xl font-extrabold tracking-tight"
                                >5</span
                            ><span
                                class="ms-1 text-xl font-normal text-gray-400"
                                >/month</span>
                        </div><ul role="list" class="md:space-y-2 my-4">
                            <li class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Intel Processors</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >NVMe SSD Storage</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >ECC DDR4 Registered Memory</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Full Root Access</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >KVM & Nested Virtualization</span>
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Enterprise Gen4 NVMe</span>
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >1 Gbps Network Connection</span>
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Path.net & Cosmic antiDDoS Protection</span>
                            </li>
                        </ul><a
                            type="button"
                            class="text-black bg-white hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
                            href="/vps-de"
                            >Learn More</a>
                    </div>
                    <div
                        class="w-full max-w-sm p-4  border border-gray-200 rounded-lg shadow sm:p-8 mt-5"
                    >
                        <h5 class="mb-1 text-xl font-medium">
                            Dedicated Servers
                        </h5><h5 class="mb-1 text-sm font-thin text-gray-100">
                            Starting at
                        </h5><div class="flex items-baseline text-gray-100">
                            <span class="text-3xl font-semibold">€</span><span
                                class="text-5xl font-extrabold tracking-tight"
                                >50</span
                            ><span
                                class="ms-1 text-xl font-normal text-gray-400"
                                >/month</span>
                        </div><ul role="list" class="md:space-y-2 my-4">
                            <li class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Bare Metal Servers</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Variety of Configurations</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Control Panel</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >24x7 KVM or IPMI Access</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Dedicated Hardware</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Nested Virtualization</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >10 Gbps Network Connection</span>
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Available in 4 Global Locations</span>
                            </li>
                        </ul><a
                            type="button"
                            class="text-black bg-white hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
                            href="https://xdual.es/dedicated"
                            >Learn More</a>
                    </div>
                </div>
            </h1>
        </div>