<div class="relative max-w-7xl mx-auto px-3 pt-10">
    <div class="overflow-hidden sm:rounded-lg">
        <div class="mt-5 mx-auto">
            <h1 class="mb-4 font-bold text-3xl">
                <span class="text-black"> Our Products </span><div
                    class="grid md:grid-cols-3 sm:grid-cols-1 gap-4"
                >
                    <div
                        class="w-full max-w-sm p-4 border rounded-lg shadow sm:p-8 mt-5"
                    >
                        <h5 class="mb-1 text-xl font-bold">
                            APP Hosting
                        </h5><h5 class="mb-1 text-sm font-thin text-gray-100">
                            Starting at
                        </h5><div class="flex items-baseline text-gray-100">
                            <span class="text-3xl font-semibold">€</span><span
                                class="text-5xl font-extrabold tracking-tight"
                                >1.5</span
                            ><span
                                class="ms-1 text-xl font-normal text-gray-400"
                                >/month</span
                            >
                        </div><ul role="list" class="md:space-y-2 my-4">
                            <li class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Panel</span
                                >
                            </li><li class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >NVMe SSD Storage</span
                                >
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Enterprise Gen4 NVMe</span
                                >
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >ECC DDR4 Registered Memory</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Full Root Access</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >KVM &amp; Nested Virtualization</span
                                >
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >20 Gbps Network Connection</span
                                >
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    viewBox="0 0 100.000000 100.000000"
                                    preserveAspectRatio="xMidYMid meet"
                                    class="h-6 w-5 flex-none"
                                    >   
                                    <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
                                        <path d="M355 946 c-106 -51 -161 -72 -254 -96 l-44 -12 7 -97 c12 -195 78 -380 188 -525 52 -70 151 -158 213 -192 34 -18 36 -18 72 1 58 32 175 147 232 230 98 141 154 307 167 490 l7 93 -44 12 c-92 23 -147 45 -253 96 -71 35 -123 54 -146 54 -23 0 -75 -19 -145 -54z m266 -32 c101 -49 168 -76 238 -94 l43 -11 -7 -72 c-20 -208 -82 -370 -197 -514 -41 -52 -138 -140 -186 -167 -35 -20 -205 135 -276 252 -71 118 -118 266 -131 422 l-7 75 87 29 c48 15 133 50 189 77 55 27 113 49 127 49 14 0 68 -21 120 -46z"/>
                                        <path d="M570 576 c-46 -72 -85 -133 -86 -135 -2 -2 -29 19 -59 48 -59 53 -69 58 -81 40 -7 -12 28 -51 98 -111 l48 -39 56 87 c151 234 143 220 125 231 -14 9 -29 -8 -101 -121z"/>
                                      </g>
                                </svg>
                                    <span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Path.net or Cosmic antiDDoS Protection</span
                                >
                            </li>
                        </ul><a
                            type="button"
                            class="text-black bg-white hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
                            href="/app">Learn More</a
                        >
                    </div>
                    <div
                        class="w-full max-w-sm p-4 border rounded-lg shadow sm:p-8 mt-5"
                    >
                        <h5 class="mb-1 text-xl font-bold">
                            VPS
                        </h5><h5 class="mb-1 text-sm font-thin text-gray-100">
                            Starting at
                        </h5><div class="flex items-baseline text-gray-100">
                            <span class="text-3xl font-semibold">€</span><span
                                class="text-5xl font-extrabold tracking-tight"
                                >2</span
                            ><span
                                class="ms-1 text-xl font-normal text-gray-400"
                                >/month</span
                            >
                        </div><ul role="list" class="md:space-y-2 my-4">
                            <li class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Panel</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >NVMe SSD Storage</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >ECC Registered Memory</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Full Root Access</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >KVM & Nested Virtualization</span
                                >
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Enterprise Gen4 NVMe</span
                                >
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Unmetered Network Connection</span
                                >
                            </li>
                            <li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    viewBox="0 0 100.000000 100.000000"
                                    preserveAspectRatio="xMidYMid meet"
                                    class="h-6 w-5 flex-none"
                                    >   
                                    <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
                                        <path d="M355 946 c-106 -51 -161 -72 -254 -96 l-44 -12 7 -97 c12 -195 78 -380 188 -525 52 -70 151 -158 213 -192 34 -18 36 -18 72 1 58 32 175 147 232 230 98 141 154 307 167 490 l7 93 -44 12 c-92 23 -147 45 -253 96 -71 35 -123 54 -146 54 -23 0 -75 -19 -145 -54z m266 -32 c101 -49 168 -76 238 -94 l43 -11 -7 -72 c-20 -208 -82 -370 -197 -514 -41 -52 -138 -140 -186 -167 -35 -20 -205 135 -276 252 -71 118 -118 266 -131 422 l-7 75 87 29 c48 15 133 50 189 77 55 27 113 49 127 49 14 0 68 -21 120 -46z"/>
                                        <path d="M570 576 c-46 -72 -85 -133 -86 -135 -2 -2 -29 19 -59 48 -59 53 -69 58 -81 40 -7 -12 28 -51 98 -111 l48 -39 56 87 c151 234 143 220 125 231 -14 9 -29 -8 -101 -121z"/>
                                      </g>
                                </svg><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Path.net or Cosmic antiDDoS Protection</span
                                >
                            </li>
                        </ul><a
                            type="button"
                            class="text-black bg-white hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
                            href="/vps">Learn More</a
                        >
                    </div>
                    <div
                        class="w-full max-w-sm p-4 border border-gray-200 rounded-lg shadow sm:p-8 mt-5"
                    >
                        <h5 class="mb-1 text-xl font-bold">
                            Dedicated Servers
                        </h5><h5 class="mb-1 text-sm font-thin text-gray-100">
                            Starting at
                        </h5><div class="flex items-baseline text-gray-100">
                            <span class="text-3xl font-semibold">€</span><span
                                class="text-5xl font-extrabold tracking-tight"
                                >50</span
                            ><span
                                class="ms-1 text-xl font-normal text-gray-400"
                                >/month</span
                            >
                        </div><ul role="list" class="md:space-y-2 my-4">
                            <li class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Bare Metal Servers</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Variety of Configurations</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Control Panel</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >24x7 KVM or IPMI Access</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Dedicated Hardware</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Nested Virtualization</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >10 Gbps Network Connection</span
                                >
                            </li><li class="flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="white"
                                    aria-hidden="true"
                                    data-slot="icon"
                                    class="h-6 w-5 flex-none text-black"
                                    ><path
                                        fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd"></path></svg
                                ><span
                                    class="text-base font-normal leading-tight text-gray-400 ms-3"
                                    >Available in 4 Global Locations</span
                                >
                            </li>
                        </ul><a
                            type="button"
                            class="text-black bg-white hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
                            href="https://xdual.es/dedicated">Learn More</a
                        >
                    </div>
                </div>
            </h1>
        </div>
    </div>
</div>
